.keypad {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

.numericButtons, .actionButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.actionButtons {
  grid-template-columns: 1fr;
}

.numericButtons button, .actionButtons button {
  font-size: 1.2rem;
  border: none;
  border-radius: 0.2rem;
  background: #ddd;
}

.numeral0 {
  grid-column-start: 1; 
  grid-column-end: 4; 
}

button.actionClear {
  background: #dd0;
}

button.actionCancel {
  background: #b00;
}

button.actionEnter {
  background: #0d0;
  grid-row-start: 3; 
  grid-row-end: 5; 
}
